/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font: inherit;
  vertical-align: baseline;
/*Font changes*/
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #333333;
  font-stretch: ultra-condensed;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* background image */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #CCCCCC;
}
/* Fonts and spacing */
p, h1, h2, h4, a{
  margin-top: 1vh;
  margin-bottom: 1vh;
}
p{
  font-size: 1em; /*24/18*/
  text-align: left;
  padding-top: 1vh;
  padding-bottom: 1vh;
  max-width: 40em;
  margin: 0 auto;
}
/* front page content grid */
header{
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 33vh 34vh 33vh; /*added up to 100*/
  background-image: url('../sky.jpg');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.single{
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 10vh;
  background-image: url('../skybackground.jpg');
  min-height: 10vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*logo in top right*/
#logo{
  grid-column: 1;
  grid-row: 1;
  max-width: 10vw;
  max-height: 10vh;
}
nav{
  grid-column: 2/ span 3;
  grid-row: 1;
  margin-right: 1vw;
  margin-left: auto;
  margin-top: 3vh;
  margin-bottom: auto;
}
a{
  text-decoration: none;
}
.navigation{
  display: inline;
  padding-left: .5vw;
  padding-right: .5vw;
  text-transform: uppercase;
  text-align: right;
  font-size: 1.6666666666667em; /*24/18*/
}
.navlink{
  color:#FFFFFF;
  font-weight: 300;
}
/*center Molly Urbina font*/
h1{
  grid-column: 2;
  grid-row: 2;
  border: solid;
  border-width: thick;
  border-color: #FFFFFF;
  padding: 5%;
  letter-spacing:.20em;
  word-spacing:.25em;
  color:#FFFFFF;
  text-align: center;
  align-self: center;
  font-size: 3em; /*36/18*/
  text-transform: uppercase;
}
/*to direct users to scroll down*/
.arrow{
  grid-column: 2;
  grid-row: 3;
  padding-bottom: 3vh;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.arrow img{
  max-width: 5vw;
  max-height: 5vh;
}
/* about me flexbox */
/*to restrict flexing area size*/
.about{
  max-width: 85vw;
  margin: auto;
  background-color: #fcfcfc;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  padding: 3vw;
}
/*about me content*/
#aboutwords{
  box-sizing: border-box;
}
.abouttitle, h2{
  text-align: center;
  font-size: 1.5em; /*45/18*/
  text-transform: uppercase;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}
.abouttext{
  font-size: 1em; /*30/18*/
}
/*about me image*/
#abtphoto{
  box-sizing: border-box;
  align-items:center;
  padding: 3vh;
  max-height: 60vh;
  min-height: 50vh;
}
.contentpn{
  max-width: 85vw;
  margin: auto;
  background-color: #fcfcfc;
  border-radius: 1vw;
  margin-top: 15vh;
  margin-bottom: 15vh;
  padding: 3vw;
  text-align: center;
}
.gallery{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
.gallery img{
  margin: 2vw;
  height: 50vh;
  width: auto;
}
.stack{
  text-align: center;
}
.stack img{
  height: auto;
  max-width: 80vw;
  max-height: 80vw;
  padding-top: 3vw;
  padding-bottom: 2vw;
}
figcaption{
  font-size: 1em; /*27/18*/
  padding-bottom: 3vh;;
}
section img{
  width: auto;
  max-height: 60vh;
  max-width: 80vw;
}
/*contact informtaion*/
footer{
  width: 100vw;
  padding: 50px 0;
  background: #FFFFFF;
  text-align: center;
  margin-top: 5vw;
  font-size: 1em; /*27/18*/
}
h3{
  font-size: 1em; /*27/18*/
  font-style: italic;
  padding: 1vh;
}
@media screen and (min-width:750px){
.about{
  flex-wrap: nowrap;
}
#abtphoto{
  max-height: 70vh;
  min-height: 60vh;
}
h1{
  font-size: 5em; /*36/18*/
}
.abouttitle, h2{
  font-size: 2em;
}
p, .abouttext{
font-size: 1.3333333333334em;
}
.navigation, figcaption, footer, h3{
  font-size: 1.5em; /*30/18*/
}
}
